VITE_API_URL=http://localhost:8000
VITE_GOOGLE_CLIENT_ID=155172624798-ip48ds1c0i25ofvcardh034b6fvlk2vj.apps.googleusercontent.com
VITE_STRIPE_PUBLISHABLE_KEY=pk_test_your_stripe_publishable_key
